* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



@media (min-width: 720px) {
    .grid-home{
        display: flex;
    }
    .skills{
        padding: 200px;
    }
  }